.site-footer {
	flex-shrink: 0;
	width: 100%;
	background-color: $neutral-purple-700;
	color: $w;
	padding: rem(50 0);

	> .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(35);

		@include min(lg) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__copyright {
		font-size: rem(14);
		margin-top: rem(51);
		text-align: center;

		@include min(lg) {
			text-align: right;
		}
	}
}

.footer-links {
	@include unstyled-list;
	display: flex;
	flex-direction: column;
	gap: rem(16);
	padding-left: rem(10);


	@include min(lg) {
		gap: rem(20);
	}

	li {
		line-height: 1;
	}

	a {
		color: $w;
		text-decoration: underline;
		font-size: rem(20);
		font-weight: 700;
		font-family: $font-heading;

		&:hover {
			color: $primary;
		}
	}
}

.footer-logo {
	display: flex;
	justify-content: space-between;
	margin-bottom: rem(25);
}

.logo-small {
	height: 45px;
	width: 207px;

}

.logo-short {
	height: 53px;
	width: 96px;

}

.footer-info {
	margin-bottom: rem(40);

	p {
		margin-bottom: 0;
	}
}

.footer-address {
	p {
		margin-bottom: 0;
	}
	a{
		color: $w;

	}
}

.footer-padding {
	padding-left: rem(10);
}

.footer-title {
	text-decoration: underline;
	font-size: rem(20);
	font-weight: 700;
	font-family: $font-heading;
	margin-bottom: rem(22);
	line-height: 1;

	&__socials {
		text-decoration: none;
		margin-bottom: rem(49);
	}

}

.footer-list {
	margin-bottom: rem(8);
	text-decoration: underline;
}

.socials-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.footer-socials {
	background-color: #fff;
	padding: rem(9);
	border-radius: 6px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: rem(16);

	img {
		height: 18px;
		width: 17px;
	}
}

.footer-title-form {
	font-family: $font-heading;
	font-weight: 700;
	font-size: rem(22);
	margin-bottom: rem(27);
}

.footer-form {

	label {
		display: flex;
		align-items: center;
		background-color: $w;
		border-radius: 50px;
		border: 8px solid $w;
		overflow: hidden;
	}

	input {
		border-radius: 0;
		border: none;

		&::placeholder {
			font-family: $font-heading;
			color: $neutral-purple-300;
		}
	}

	.wpcf7 .wpcf7-form-control-wrap {
		margin-bottom: 0;
	}

	input[type=submit] {
		height: 54px;
		padding: rem(18 24);
		font-weight: 700;
	}
}
.wrapper-copyright{
	display: flex;
	align-items: center;
	justify-content: center;
	border-top:  1px solid $light-grey;
	padding: rem(31 20 50 );
	a:first-of-type {
		margin-right: rem(40);
	}
}
.footer-copyright{
	margin-right: rem(50);
	p{
		margin-bottom: 0;
	}

}
.copyright-link{
	font-size: rem(18);
	color: $w;
}
