// Colors -------------------------------------------
$primary-500: #F5AC00;
$primary-450: #F6B826;
$primary-400: #F7C140;
$primary-350: #F9CD66;
$primary-300: #FAD580;
$primary-250: #FBDE99;
$primary-200: #FCE6B2;
$primary-150: #FDEECC;
$neutral-purple-700: #32334D;
$neutral-purple-650: #46475F;
$neutral-purple-500: #534D75;
$neutral-purple-400: #696487;
$neutral-purple-300: #807696;
$neutral-purple-100: #DFDDF1;
$neutral-purple-50: #EDEBF9;
$neutral-beige-500: #F5F1E8;
$neutral-beige-450: #F9F7F1;
$neutral-grey: #757575;
$secondary-blue-500: #3960B4;
$secondary-purple-500: #7150B3;
$secondary-purple-450: #947CC6;
$secondary-purple-400: #AA96D1;
$secondary-purple-350: #B8A7D9;
$secondary-purple-300: #C6B9E1;
$secondary-red-550: #E35249;
$secondary-red-500: #EB5E55;
$secondary-turquois-500: #2EC4AB;
$secondary-turquois-450: #62D3C0;
$secondary-turquois-400: #82DCCD;
$secondary-turquois-100: #CBF0EA;
$secondary-turquois-50: #DEF6F2;
$primary: $primary-500;
$primary-hover: darken($primary, 10%);
$secondary: #38bdf8;
$secondary-hover: darken($secondary, 8%);
$neutral-purple-650: #46475F;
$neutral-purple-700: #32334D;
$neutral-beige-500: #F5F1E8;
$neutral-beige-450: #F9F7F1;
$primary-150: #FDEECC;
$neutral-purple-100: #DFDDF1;
$dark-grey: #5D5A88;
// Bootstrap v5.3.0 fix (dark mode support)
$enable-dark-mode: false;

$b: #000;
$w: #fff;
$white-50: rgba($w, 0.5);
$grey: #bdbdbd;
$grey-border: #d0d0d0;

$red: #dc3232;
$green: #6dc22e;
$orange: #f56e28;
$yellow: #F2C94C;
$blue: #00a0d2;

$color-text: $neutral-purple-700;
$color-heading: #202634;
$color-link: $primary;
$color-link-hover: $primary-hover;


// Fonts -------------------------------------------
$font-text: 'Roboto', sans-serif;
$font-heading: 'Poppins', sans-serif;

$font-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;


// Typography -------------------------------------------
$font-size-base: 16; // Assumes the browser default (typically 16px)
$font-weight-base: 400;
$line-height-base: 1.6;

$radius: rem(5); // global border-radius (can be 0, but need to keep it)


// Transitions -------------------------------------------
$time: 0.3s;
$default-transition: all $time 0s;


// Grid breakpoints -------------------------------------------
// for min-width = values, for max-width = value - 1px.
// example: @include min(lg) = @media (min-width: 1025px)
// example: @include max(lg) = @media (max-width: 1024px)
$grid-breakpoints: (
				xs: 0,
				md: 640px,
				lg: 1025px,
				xl: 1412px,
);

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width: 30px; // 15px on each side

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
				xs: 100%,
				md: 100%,
				lg: 100%,
				xl: 1312px,
);

// Container padding
$container-gutter-x-values: (
				xs: 30px, // 15px on each side
				md: 60px, // 30px on each side
				lg: 100px, // 50px on each side
				xl: 100px, // 50px on each side
);

// Container fluid maximum width
$container-fluid-max-width: 1920px;

/*
 * Global CSS Variables:
 */
:root {
	--container-width: 100%;

	@each $bp in map-keys($grid-breakpoints) {
		@media (min-width: map-get($grid-breakpoints, $bp)) {
			--container-width: #{map-get($container-max-widths, $bp)};
			--container-gutter-x: #{map-get($container-gutter-x-values, $bp)};
		}
	}

	--header-height: #{rem(170)}; // needed for fixed header
	--header-scrolled-height: #{rem(100)}; // needed for fixed header
}
