.company-logos {
	padding: rem(36 30 56);
}

.gallery-slider-wrapper {
	position: relative;
}

.bg-beige-450 {
	background-color: $neutral-beige-450;
}

.sup-title-section {
	line-height: 28px;
	margin-bottom: rem(20);
	display: block;
	color: $dark-grey;
}
